<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    
    <aspNetCore processPath="dotnet" arguments=".\ShareBook.Api.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout">
<environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
      </environmentVariables>
</aspNetCore>
  </system.webServer>
</configuration>
<!--ProjectGuid: 384db7ac-4918-4abd-9c12-5f673ffb200d-->

