<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Anonimização de conta</title>
</head>
<body>
    <p>
        Prezados adms. Um usuário solicitou a remoção de sua conta. Seus dados pessoais foram anonimizados e sua conta foi desativada.
    </p>
    <p>
        <b>Justificativa</b><br />
        {Reason}
    </p>

    <p>
        Equipe Sharebook<br />
        <small>Compartilhando conhecimento</small>
    </p>
</body>
</html>
