<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Anonimização de conta</title>
</head>
<body>
    <p>
        Prezados adms. Um usuário solicitou a remoção de sua conta. Seus dados pessoais foram anonimizados e sua conta foi desativada.
    </p>
    <p>
        <b>Justificativa</b><br />
        {Reason}
    </p>

    <p>
        Atenciosamente,<br /><br />

        Sharebook team - Compartilhando conhecimento<br />
        Siga-nos no instagram:
        <a target="_blank" href="https://www.instagram.com/sharebook.com.br/" title="Instagram Sharebook">@sharebook.com.br</a>
    </p>
</body>
</html>