﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Seu livro está a caminho</title>
</head>

<body>

    <p>
        Olá, <strong>ganhador(a)</strong>,<br /><br />

        O livro <strong>{book.Title}</strong> foi postado pelo(a) doador(a).<br /><br />
        Acompanhe a entrega no site dos
        <a target="_blank" href="http://www.correios.com.br" title="Correios">Correios</a> com este <strong>código de rastreio</strong>:
        <strong>{book.TrackingNumber}</strong>.
    </p>

    <p>
        Se tiver alguma dúvida sobre a postagem ou a entrega, combine diretamente com o(a) doador(a).
    </p>

    <p>
        Se precisar de ajuda, <a href="https://www.sharebook.com.br/contact-us">fale com a gente</a>.
    </p>

    <p>
        Um abraço,<br />
        Equipe Sharebook<br />
        <small>Compartilhando conhecimento</small>
    </p>

</body>

</html>
