<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Sharebook - Sua solicitação foi registrada</title>
</head>
<body>
    <h4>Sharebook - Sua solicitação foi registrada</h4>

    <p>
        Olá <strong>{NameInterested}</strong>,
    </p>
    <br />
    <p>
        Sua solicitação para o livro <strong>{NameBook}</strong> foi registrada.<br>
        Aguarde até o dia <strong>{ChooseDate}</strong>, quando o(a) ganhador(a) será anunciado(a).
    </p>
    <br />
    <p>
        Em caso de dúvidas, fale com o facilitador <strong>{NameFacilitator}</strong>.
    </p>
    <ul>
        <li><strong>Whatsapp: </strong>{PhoneFacilitator}</li>
        <li><strong>E-mail: </strong>{EmailFacilitator}</li>
        <li><strong>LinkedIn: </strong>{LinkedinFacilitator}</li>
    </ul>
    <br />

    <p>Atenciosamente, Equipe Sharebook</p>
    <br />
    <p>
        Equipe Sharebook — Compartilhando conhecimento
        <br />
        Siga a gente no Instagram:
        <a target="_blank" href="https://www.instagram.com/sharebook.com.br/" title="Instagram Sharebook">@sharebook.com.br</a>
    </p>

</body>
</html>