<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Livro Solicitado - Sharebook</title>
</head>
<body>
    <h4>Livro Solicitado - Sharebook</h4>

    <p>
        Olá <strong>{NameInterested}</strong>,
    </p>
    <br />
    <p>
        Você solicitou o livro <strong>{NameBook}</strong>.<br>
        Aguarde até o dia <strong>{ChooseDate}</strong> que será anunciado o ganhador. Boa sorte!
    </p>
    <br />
    <p>
        Em caso de dúvidas fale com o Facilitador <strong>{NameFacilitator}</strong>.
    </p>
    <ul>
        <li><strong>Phone: </strong>{PhoneFaciltator}</li>
        <li><strong>Email: </strong>{EmailFacilitator}</li>
    </ul>
    <br />

    <p>Atenciosamente, Sharebook Team</p>
    <br />
    <p>
        Sharebook - Compartilhando conhecimento
        <br />
        Siga-nos no instagram:
        <a target="_blank" href="https://www.instagram.com/sharebook.com.br/" title="Instagram Sharebook">@sharebook.com.br</a>
    </p>

</body>
</html>