﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Seu livro recebeu uma solicitação</title>
</head>
<body>
    <p>
        Olá, {Donor.Name}!
    </p>

    <p>
        Você recebeu uma nova solicitação para o livro <strong>"{Donor.BookTitle}"</strong>.
    </p>

    {HtmlTable}

    <p>
        <strong>Próximos passos:</strong><br />
        Até a data de escolha, você pode acompanhar as solicitações no Sharebook.<br />
        No dia <strong>{Donor.ChooseDate}</strong>, revise as solicitações e escolha o(a) ganhador(a).
    </p>

    <p>
        Se precisar de ajuda, <a href="https://www.sharebook.com.br/contact-us">fale com a gente</a>.<br /><br />
        Um abraço,<br>
        Equipe Sharebook<br>
        <small>Compartilhando conhecimento</small>
    </p>
</body>
</html>  
