<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Resultado da doação do livro {book.Title}</title>
</head>

<body>

    <p>
        Olá,<br /><br />

        Aqui é o Sharebot do time Sharebook. Blz?<br /><br />

        Obrigado por ter demonstrado interesse no livro <b>"{book.Title}</b>". Mas infelizmente você não foi escolhido(a) como ganhador(a). =( <br /><br />

        Por favor não desanime. Toda semana entram muitos livros novos e certamente um dia vc vai ganhar o seu. Ou até mesmo esse livro pode ser doado de novo. Blz?
        <br />
    </p>

    <p>
        Atenciosamente,<br /><br />

        Sharebook team - Compartilhando conhecimento<br />
        Siga-nos no instagram:
        <a target="_blank" href="https://www.instagram.com/sharebook.com.br/" title="Instagram Sharebook">@sharebook.com.br</a>
        <br>
        <br>
        Curta nossa fanpage pra ficar por dentro das novidades:<br>
        <a href="https://www.linkedin.com/company/sharebook-br/" target="_blank">https://www.linkedin.com/company/sharebook-br/</a>
    </p>

</body>

</html>
