<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Resultado da doação do livro {book.Title}</title>
</head>
<body>
    <p>
        Olá,<br /><br />
        Agradecemos o seu interesse no livro <b>"{book.Title}"</b>.<br /><br />
        Nesta rodada, você não foi selecionado(a) como ganhador(a).<br /><br />
        Não desanime: novos livros entram na vitrine toda semana e você pode encontrar outra oportunidade em breve.
    </p>

    <p>
        Atenciosamente,<br /><br />
        Equipe Sharebook — Compartilhando conhecimento<br />
        Siga a gente no Instagram:
        <a target="_blank" href="https://www.instagram.com/sharebook.com.br/" title="Instagram Sharebook">@sharebook.com.br</a>
        <br /><br />
        Acompanhe também no LinkedIn:<br />
        <a href="https://www.linkedin.com/company/sharebook-br/" target="_blank">https://www.linkedin.com/company/sharebook-br/</a>
    </p>
</body>
</html>
