<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Uma doação foi cancelada.</title>
</head>
<body>
    <p>
        Olá,
    </p>
    <p>
        Uma doação foi cancelada. Veja mais informações abaixo:
    </p>

    <ul>
        <li><strong>Livro: </strong>{Title}</li>
        <li><strong>Doador(a): </strong>{Donor}</li>
        <li><strong>Cancelado por: </strong>{CanceledBy}</li>
        <li><strong>Justificativa: </strong>{Reason}</li>
    </ul>

    <p>Sharebook</p>
</body>
</html>  