﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title> SHAREBOOK - GANHADOR DO LIVRO</title>
</head>

<body>

    <p>
        Olá,<br /><br />

        Aqui é o Sharebot do time Sharebook. Blz?<br /><br />

        Obrigado a todos que demostraram interesse no livro "{BookTitle}".
        <br />Foram muitos bons pedidos e MUITO difícil  pro doador escolher um ganhador,
        mas foi feita a decisão!
        <br>
        Seu critério foi analisar os pedidos em busca de quem parecia ter mais interesse,
        precisar mais.
        <br />
    </p>


    <h3>GANHADOR</h3>
    <p>** {BookWinner} **</p>

    <p>
        Pra quem não ganhou dessa vez, por favor não desanime. Toda semana entra
        vários livros novos e certamente você vai ter muito mais chances. Blz?<br /><br />
    </p>

    <p>
        Atenciosamente,<br /><br />

        Sharebook team - Compartilhando conhecimento<br />
        Siga-nos no instagram:
        <a target="_blank" href="https://www.instagram.com/sharebook.com.br/" title="Instagram Sharebook">@sharebook.com.br</a>
        <br>
        <br>
        Curta nossa fanpage pra ficar por dentro das novidades:<br>
        <a href="https://www.linkedin.com/company/sharebook-br/" target="_blank">https://www.linkedin.com/company/sharebook-br/</a>
    </p>

</body>

</html>
