<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Livro aprovado - Sharebook</title>
</head>
<body>
    <p>
        Olá {User.Name}
    </p>
    <p>
        O livro {Title} foi aprovado e já está na nossa vitrine para doação.
    </p>
    <strong>Detalhes do livro: </strong>
    <ul>
        <li><strong>Livro: </strong>{Title}</li>
        <li><strong>Autor: </strong>{Author}</li>
    </ul>

    <p>Equipe Sharebook</p>
</body>
</html>  