<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Sharebook - Sua solicitação foi registrada</title>
</head>
<body>
    <h4>Sharebook - Sua solicitação foi registrada</h4>

    <p>
        Olá <strong>{NameInterested}</strong>,
    </p>
    <br />
    <p>
        Sua solicitação para o livro <strong>{NameBook}</strong> foi registrada.<br>
        Aguarde até o dia <strong>{ChooseDate}</strong>, quando o(a) ganhador(a) será anunciado(a).
    </p>
    <br />
    <p>
        Se precisar de ajuda, <a href="https://www.sharebook.com.br/contact-us">fale com a gente</a>.<br /><br />
        Um abraço,<br>
        Equipe Sharebook<br>
        <small>Compartilhando conhecimento</small>
    </p>

</body>
</html>
