﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Resultado da doação do livro {BookTitle}</title>
</head>

<body>

    <p>
        Olá,<br /><br />

        Queremos agradecer de coração pelo seu interesse no livro <b>"{BookTitle}"</b>.
        O doador leu com carinho todas as mensagens e escolheu aquela que, neste momento, parecia mais precisar do livro.<br /><br />

        Sabemos que essa notícia talvez não seja a que você esperava, mas não desanime — toda semana novos livros entram no Sharebook, e as chances de encontrar algo que toque seu coração são grandes. 💛
        Quem sabe esse mesmo livro apareça novamente em breve?<br /><br />

        Continue participando e espalhando essa corrente de leitura e solidariedade.
        Cada pedido conta, e o seu faz diferença.
        <br />
    </p>

    <p>
        Atenciosamente,<br /><br />

        Sharebook team - Compartilhando conhecimento<br />
        Siga-nos no instagram:
        <a target="_blank" href="https://www.instagram.com/sharebook.com.br/" title="Instagram Sharebook">@sharebook.com.br</a>
        <br>
        <br>
        Curta nossa fanpage pra ficar por dentro das novidades:<br>
        <a href="https://www.linkedin.com/company/sharebook-br/" target="_blank">https://www.linkedin.com/company/sharebook-br/</a>
    </p>

</body>

</html>
