<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Parabéns você foi selecionado para receber o livro - Sharebook</title>
</head>
<body>
    <h4>Parabéns você foi selecionado para receber o livro <strong>{Book.Title}</strong></h4>
    <p>
        Olá {User.Name},
    </p>
    <p>
        Veja mais informações abaixo sobre o livro doado:
    </p>

    <ul>
        <li><strong>Livro: </strong>{Book.Title}</li>
        <li><strong>Doador: </strong>{Book.User.Name}</li>
        <li><strong>Linkedin Doador: </strong>{Book.User.Linkedin}</li>
        <li><strong>Telefone Doador: </strong>{Book.User.Phone}</li>
        <li><strong>Email Doador: </strong>{Book.User.Email}</li>
        <li><strong>Motivo do Doador: </strong>{Reason}</li>
    </ul>

    <p>Sharebook</p>
</body>
</html>  