﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Outra pessoa receberá o livro {BookTitle}</title>
</head>

<body>

    <p>
        Olá,<br /><br />

        A pessoa ganhadora da doação do livro <strong>"{BookTitle}"</strong> já foi escolhida.<br /><br />

        Desta vez, o livro seguirá para outra pessoa.<br /><br />

        Você pode continuar explorando os livros disponíveis na vitrine do Sharebook.
    </p>

    <p>
        Se precisar de ajuda, <a href="https://www.sharebook.com.br/contact-us">fale com a gente</a>.
    </p>

    <p>
        Um abraço,<br />
        Equipe Sharebook<br />
        <small>Compartilhando conhecimento</small>
    </p>

</body>

</html>
