﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title> SHAREBOOK - Doação cancelada</title>
</head>

<body>

    <p>
        Olá,<br /><br />

        Hoje temos uma notícia ruim. Infelizmente a doação do livro <strong>{book.Title}</strong> que você queria foi cancelada.
        <br />Essa é uma situação que nenhum de nós quer. Porém as vezes acontece mesmo. Tenha certeza que o doador sabe da importância da doação e que realmente teve alguma justificativa muito forte pra esse cancelamento.
        <br>
        Em nome da plataforma sharebook, pedimos desculpas. Para mais detalhes, por favor entre em contato com a equipe Sharebook.
        <br />
    </p>

    <p>
        Atenciosamente,<br /><br />

        Sharebook team - Compartilhando conhecimento<br />
        Siga-nos no instagram:
        <a target="_blank" href="https://www.instagram.com/sharebook.com.br/" title="Instagram Sharebook">@sharebook.com.br</a>
        <br>
        <br>
        Curta nossa fanpage pra ficar por dentro das novidades:<br>
        <a href="https://www.linkedin.com/company/sharebook-br/" target="_blank">https://www.linkedin.com/company/sharebook-br/</a>
    </p>

</body>

</html>
