﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title> SHAREBOOK - Livro postado</title>
</head>

<body>

    <p>
        Olá,<br /><br />

        Temos uma notícia boa. 
        <br /> O livro <strong>{book.Title}</strong> foi postado e você pode acompanhar o rastreio no site 
        dos <a target="_blank" href="http://www.correios.com.br" title="Correios">Correios</a> com o código 
        <strong> {book.TrackingNumber} </strong>
        
    </p>

    <p>
        Atenciosamente,<br /><br />

        Sharebook team - Compartilhando conhecimento<br />
        Siga-nos no instagram:
        <a target="_blank" href="https://www.instagram.com/sharebook.com.br/" title="Instagram Sharebook">@sharebook.com.br</a>
        <br>
        <br>
        Curta nossa fanpage pra ficar por dentro das novidades:<br>
        <a href="https://www.linkedin.com/company/sharebook-br/" target="_blank">https://www.linkedin.com/company/sharebook-br/</a>
    </p>

</body>

</html>
