<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Livro aprovado - Sharebook</title>
</head>
<body>
    <p>
        Olá {User.Name}
    </p>
    <p>
        O livro {Title} foi aprovado e já está na nossa vitrine para doação.
    </p>
    <strong>Detalhes do livro: </strong>
    <ul>
        <li><strong>Livro: </strong>{Title}</li>
        <li><strong>Autor: </strong>{Author}</li>
    </ul>

    <p>
        A data de escolha do vencedor será no dia <strong>{ChooseDateString}</strong>.<br />
        Pedimos para que reserve um tempo neste dia para escolher o ganhador da sua doação.<br />
        <strong>Lembre-se: esse passo é fundamental para uma melhor experiência de todos!</strong><br />
        Os interessados estarão anciosos pela sua escolha. Por isso, não perca a data!
    </p>

    <p>Equipe Sharebook</p>
</body>
</html>  