<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Livro Recebido - Sharebook</title>
</head>
<body>
    <p>
        Olá {User.Name}
    </p>
    <p>
        O livro {Book.Title} foi Recebido.
    </p>
    <strong>Detalhes do livro: </strong>
    <ul>
        <li><strong>Livro: </strong>{Book.Title}</li>
        <li><strong>Autor: </strong>{Book.Author}</li>
        <li><strong>Ganhador: </strong>{WinnerName}</li>
    </ul>

    <p>
        Parabéns por ter completado sua doação com sucesso. Você fez diferença na vida de uma pessoa. <br />
    </p>

    <p>
        Atenciosamente,<br /><br />

        Sharebook team - Compartilhando conhecimento<br />
        Siga-nos no instagram:
        <a target="_blank" href="https://www.instagram.com/sharebook.com.br/" title="Instagram Sharebook">@sharebook.com.br</a>
        <br>
        <br>
        Curta nossa fanpage pra ficar por dentro das novidades:<br>
        <a href="https://www.linkedin.com/company/sharebook-br/" target="_blank">https://www.linkedin.com/company/sharebook-br/</a>
    </p>
</body>
</html>