<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Um livro foi solicitado - Sharebook</title>
</head>
<body>
    <h4>Um livro foi solicitado - Sharebook</h4>
    <p>
        Olá {Administrator.Name},
    </p>
    <p>
        Um livro foi solicitado. Veja mais informações abaixo:
    </p>

    <ul>
        <li><strong>Livro: </strong>{Book.Title}</li>
        <li><strong>Donatário: </strong>{RequestingUser.Name}</li>
        <li><strong>Linkedin Donatário: </strong>{RequestingUser.Linkedin}</li>
        <li><strong>Telefone Donatário: </strong>{RequestingUser.Phone}</li>
        <li><strong>Email Donatário: </strong>{RequestingUser.Email}</li>
        <li><strong>Doador: </strong>{Book.User.Name}</li>
        <li><strong>Linkedin Doador: </strong>{Book.User.Linkedin}</li>
        <li><strong>Telefone Doador: </strong>{Book.User.Phone}</li>
        <li><strong>Email Doador: </strong>{Book.User.Email}</li>
    </ul>

    <p>Sharebook</p>
</body>
</html>  