<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SHAREBOOK - É HOJE!</title>
    </head>
    <body>
        <p>
            Olá {DonorName},
        </p>

        <p>Aqui é o Sharebot do time Sharebook. Tudo bem?</p>

        <p><b>Hoje seria o dia de escolher o ganhador do livro '{BookTitle}'! Mas infelizmente não apareceu nenhum 
        interessado. Não se preocupe, renovamos data de escolha para daqui a 10 dias. Enquanto isso vamos juntos 
        divulgar mais esse livro incrível nas mídias sociais. Tenho certeza que vamos achar MUITOS interesados. Eles só 
        não sabem ainda. Então compartilhe o link abaixo em suas mídias sociais, grupos de whatsapp e tudo mais kkk. 
        Bora compartilhar o conhecimento!</b></p>

        <p><a href="https://sharebook.com.br/livros/{BookSlug}">https://sharebook.com.br/livros/{BookSlug}</a></p>

        <p>
            Dúvidas? Sem problemas, é um prazer ajudar. Entre em contato com seu facilitador.
            <ul>
                <li>Nome: {FacilitatorName}</li>
                <li>Email: <a href="mailto:{FacilitatorEmail}">{FacilitatorEmail}</a ></li>
                <li>Whatsapp: {FacilitatorWhatsapp}</li>
                <li>LinkedIn: <a href="{FacilitatorLinkedin}">{FacilitatorLinkedin}</a ></li>
            </ul>
        </p>

        <p>&nbsp;</p>

        <p>
            Atenciosamente,<br /><br />

            Sharebook team - Compartilhando conhecimento<br />
            Siga-nos no instagram:
            <a target="_blank" href="https://www.instagram.com/sharebook.com.br/" title="Instagram Sharebook">@sharebook.com.br</a>
            <br>
            <br>
            Curta nossa fanpage pra ficar por dentro das novidades:<br>
            <a href="https://www.linkedin.com/company/sharebook-br/" target="_blank">https://www.linkedin.com/company/sharebook-br/</a>
        </p>
    </body>
</html>
