<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SHAREBOOK - É HOJE!</title>
    </head>
    <body>
        <p>
            Olá {DonorName},
        </p>

        <p>Aqui é o Sharebot do time Sharebook. Tudo bem?</p>

        <p><b>Hoje é o grande dia. O dia de escolher o ganhador do livro '{BookTitle}'! Pra sua conveniência use o link abaixo:</b></p>

        <p><a href="https://sharebook.com.br/book/donations">https://sharebook.com.br/book/donations</a></p>

        <p>
            Por favor escolha o ganhador o quanto antes. É muito importante.<br />
            Afinal todos os interessados estão anciosos pelo dia de hoje. Obrigado!
        </p>

        <p>
            Dúvidas? Sem problemas, é um prazer ajudar. Entre em contato com seu facilitador.
            <ul>
                <li>Nome: {FacilitatorName}</li>
                <li>Email: <a href="mailto:{FacilitatorEmail}">{FacilitatorEmail}</a ></li>
                <li>Whatsapp: {FacilitatorWhatsapp}</li>
                <li>LinkedIn: <a href="{FacilitatorLinkedin}">{FacilitatorLinkedin}</a ></li>
            </ul>
        </p>

        <p>&nbsp;</p>

        <p>
            Atenciosamente,<br /><br />

            Sharebook team - Compartilhando conhecimento<br />
            Siga-nos no instagram:
            <a target="_blank" href="https://www.instagram.com/sharebook.com.br/" title="Instagram Sharebook">@sharebook.com.br</a>
            <br>
            <br>
            Curta nossa fanpage pra ficar por dentro das novidades:<br>
            <a href="https://www.linkedin.com/company/sharebook-br/" target="_blank">https://www.linkedin.com/company/sharebook-br/</a>
        </p>
    </body>
</html>
