<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Aguarde aprovação do livro digital - Sharebook</title>
</head>
<body>
    <p>
        Olá {User.Name}, nossos agradecimentos por doar na plataforma Sharebook e compartilhar conhecimento!
    </p>
    <p>
        Nossa equipe já está revisando o livro digital {Title} para confirmar se está tudo certo com o arquivo e com o cadastro.
    </p>
    <p>
        Pedimos que aguarde o e-mail de confirmação da aprovação. Assim que ele for aprovado, sua obra ficará disponível no Sharebook.
    </p>
    <strong>Detalhes do livro: </strong>
    <ul>
        <li><strong>Livro: </strong>{Title}</li>
        <li><strong>Autor: </strong>{Author}</li>
    </ul>

    <p>Equipe Sharebook</p>
</body>
</html>
