<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Ebook revogado para Aguardando Aprovação - Sharebook</title>
</head>
<body>
    <p>
        Olá Administrador(a),
    </p>
    <p>
        Um ebook teve seu status revogado para Aguardando Aprovação. Veja mais informações abaixo:
    </p>

    <ul>
        <li><strong>Título: </strong>{Title}</li>
        <li><strong>Autor: </strong>{Author}</li>
        <li><strong>Usuário: </strong>{User.Name}</li>
    </ul>

    <p>Sharebook</p>
</body>
</html>  