<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Status diário das doações</title>
    </head>
    <body>
        <p>
            Olá! Este é o resumo das doações de hoje:
        </p>

        <ul>
            <li><b>Aguardando aprovação:</b> {totalWaitingApproval}</li>
            <li><b>Em atraso:</b> {totalLate}</li>
            <li><b>Concluídas:</b> {totalOk}</li>
        </ul>

        <p>As doações em atraso precisam de uma decisão: escolher o(a) ganhador(a) ou cancelar.</p>

        {htmlTable}

        <p>Quando necessário, use os dados da tabela para ajudar o(a) doador(a) a concluir ou cancelar a doação.</p>

        <p>
            Equipe Sharebook<br>
            <small>Compartilhando conhecimento</small>
        </p>
    </body>
</html>
