<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SHAREBOOK - LISTA DE DOAÇÕES EM ATRASO.</title>
    </head>
    <body>
        <p>
            Prezados facilitadores,
        </p>

        <p>Segue abaixo a lista de doações em atraso. :/</p>

        {htmlTable}

        <p><b>Por favor, faça contato com os doadores os ajude a concluir sua doação. Isso é muito importante para que nossos usuários tenham uma boa experiência com nossa plataforma. Afinal ninguém gosta de atrasos, certo? </b></p>

        <p>&nbsp;</p>

        <p>
            Atenciosamente,<br /><br />

            Sharebook team - Compartilhando conhecimento<br />
            Siga-nos no instagram:
            <a target="_blank" href="https://www.instagram.com/sharebook.com.br/" title="Instagram Sharebook">@sharebook.com.br</a>
            <br>
            <br>
            Curta nossa fanpage pra ficar por dentro das novidades:<br>
            <a href="https://www.linkedin.com/company/sharebook-br/" target="_blank">https://www.linkedin.com/company/sharebook-br/</a>
        </p>
    </body>
</html>
