<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Novo livro cadastrado - Sharebook</title>
</head>
<body>
    <p>
        Olá Administrador(a),
    </p>
    <p>
        Um novo livro foi cadastrado. Veja mais informações abaixo:
    </p>

    <ul>
        <li><strong>Livro: </strong>{Title}</li>
        <li><strong>Autor: </strong>{Author}</li>
        <li><strong>Usuário: </strong>{User.Name}</li>
    </ul>

    <p>Sharebook</p>
</body>
</html>  