<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Consentimento dos pais</title>
</head>
<body>
    <p>
        Olá! Boas notícias: <b>seu acesso foi liberado pelos seus pais.</b>
        Agora você já pode entrar no Sharebook para doar e receber livros.
    </p>
    <p>
        <a target="_blank" href="{SharebookLink}" title="Entrar no Sharebook">Entrar no Sharebook</a>
    </p>

    <p>
        Atenciosamente,<br /><br />
        Equipe Sharebook — Compartilhando conhecimento<br />
        Siga a gente no Instagram:
        <a target="_blank" href="https://www.instagram.com/sharebook.com.br/" title="Instagram Sharebook">@sharebook.com.br</a>
    </p>
</body>
</html>
