<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Seu acesso ao Sharebook foi liberado</title>
</head>
<body>
    <p>
        Olá!
    </p>
    <p>
        Seu acesso ao Sharebook foi liberado. Agora você pode entrar para doar e solicitar livros.
    </p>
    <p>
        <a target="_blank" href="{SharebookLink}" title="Entrar no Sharebook">Entrar no Sharebook</a>
    </p>

    <p>
        Se precisar de ajuda, <a href="https://www.sharebook.com.br/contact-us">fale com a gente</a>.
    </p>

    <p>
        Um abraço,<br />
        Equipe Sharebook<br />
        <small>Compartilhando conhecimento</small>
    </p>
</body>
</html>
