<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Consentimento dos pais</title>
</head>
<body>
    <p>
        Olá! Notícia boa! <b>Seu acesso foi liberado pelos seus pais.</b> Agora você pode entrar no sharebook para doar e ganhar livros. Aproveite! =)
    </p>
    <p>
        <a target="_blank" href="{SharebookLink}" title="entrar no Sharebook.">entrar no Sharebook</a>
    </p>

    <p>
        Atenciosamente,<br /><br />

        Sharebook team - Compartilhando conhecimento<br />
        Siga-nos no instagram:
        <a target="_blank" href="https://www.instagram.com/sharebook.com.br/" title="Instagram Sharebook">@sharebook.com.br</a>
    </p>
</body>
</html>