<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Consentimento dos pais</title>
</head>
<body>
    <p>
        Olá! O usuário <b>{UserName}</b>, menor de idade, se cadastrou em nosso app Sharebook e informou que você é o responsável. Precisamos do seu consentimento para liberar o acesso.
    </p>
    <p>
        Sharebook é um app livre e gratuito para doação de livros. Temos todo o cuidado com a segurança e privacidade dos nossos usuários.
    </p>
    <p>
        Para liberar o acesso por favor use esse link: <a target="_blank" href="{AprovalLink}" title="Liberar o acesso.">{AprovalLink}</a>
    </p>

    <p>
        Atenciosamente,<br /><br />

        Sharebook team - Compartilhando conhecimento<br />
        Siga-nos no instagram:
        <a target="_blank" href="https://www.instagram.com/sharebook.com.br/" title="Instagram Sharebook">@sharebook.com.br</a>
    </p>
</body>
</html>