<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Consentimento dos pais</title>
</head>
<body>
    <p>
        Olá! O usuário <b>{UserName}</b>, menor de idade, se cadastrou no aplicativo Sharebook e informou que você é o responsável.
        Precisamos do seu consentimento para liberar o acesso.
    </p>
    <p>
        O Sharebook é uma plataforma gratuita para doação de livros.
        Tratamos a segurança e a privacidade das pessoas usuárias com responsabilidade.
    </p>
    <p>
        Para liberar o acesso, use este link:
        <a target="_blank" href="{AprovalLink}" title="Liberar acesso">{AprovalLink}</a>
    </p>

    <p>
        Atenciosamente,<br /><br />
        Equipe Sharebook — Compartilhando conhecimento<br />
        Siga a gente no Instagram:
        <a target="_blank" href="https://www.instagram.com/sharebook.com.br/" title="Instagram Sharebook">@sharebook.com.br</a>
    </p>
</body>
</html>
