<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Aguarde aprovação - Sharebook</title>
</head>
<body>
    <p>
        Olá {User.Name}, nossos agradecimentos por doar na plataforma Sharebook e compartilhar conhecimento!
    </p>
    <p>
        Nossa equipe já está trabalhando na aprovação do {Title} e logo estará na nossa vitrine para que outras pessoas possam visualizar.
    </p>
    <p>
        Solicitamos que aguarde o e-mail de confirmação dessa aprovação =)
    </p>
    <strong>Detalhes do livro: </strong>
    <ul>
        <li><strong>Livro: </strong>{Title}</li>
        <li><strong>Autor: </strong>{Author}</li>
    </ul>

    <p>Equipe Sharebook</p>
</body>
</html>  