<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Aguarde aprovação - Sharebook</title>
</head>
<body>
    <p>
        Olá {Book.User.Name},
    </p>
    <p>
        Vimos que você cadastrou um livro recentemente. Nossa equipe já está trabalhando para a aprovação do {Book.Title}.
    </p>
    <p>
        Solicitamos que aguarde o e-mail de confirmação da aprovação, Obrigado!
    </p>
    <ul>
        <li><strong>Livro: </strong>{Book.Title}</li>
        <li><strong>Autor: </strong>{Book.Author}</li>
    </ul>

    <p>Sharebook</p>
</body>
</html>  