name: .NET build validation

on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      - name: Restore dependencies
        run: dotnet restore  ./ShareBook/ShareBook.sln
      - name: Build
        run: dotnet build  ./ShareBook/ShareBook.sln --no-restore
      - name: Test
        run: dotnet test ./ShareBook/ShareBook.Test.Unit/ShareBook.Test.Unit.csproj --no-build --verbosity normal
        if: success()
